/* Шрифт */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.f{ /*подвал*/
  background-color: rgb(131, 83, 65);
  display: grid;
  justify-content: center; /*выравнивание элементов внутри контейнера по центру*/
  color: black;
  border: 3px solid red;
  border-radius: 5px;
  padding: 1em;
}
.footer { /* собственно подвал, расположенный сразу за .content */
  /* position: fixed; */
  bottom: 0px;
  height: 120px;
}

#downnavbar li {
  display: inline;
}
#downnavbar li a {
  color: #fff;
  padding: 6px;
  width: 100px;
  text-decoration: none;
  text-align: center;
}
#downnavbar ul{
  list-style: none;
}
footer a{
  text-decoration: none;
}
footer address{
  margin-top: 1em;
  text-align: center;
  color: #fff;
}
/* Социальные сети */
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
.social-icons > li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.social-icons a {
  position: relative;
  background-color: #eee;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
}
.social-icons a:hover {
  background-color: #e0e0e0;
}
.social-icons a::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0.65rem;
  top: 0.65rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
}
.social-icons .social-icon-telegram::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
}

/* Структура страницы */

.h,
.n,
.m,
.s,
.a {
  display: grid;
  justify-content: center; /*выравнивание элементов внутри контейнера по центру*/
  color: black;
  background-color: white;
  border: 3px solid red;
  border-radius: 5px;
  padding: 1em;
}
.h {
  grid-area: H;
}
.n {
  grid-area: N;
}
.m {
  grid-area: M;
}
.s {
  grid-area: S;
}
.a {
  grid-area: A;
}
.f {
  grid-area: F;
}

.grid {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 10;
  grid-template-areas:
    "H H H H H"
    "S N N N A"
    "S M M M A"
    "S M M M A"
    "S M M M A"
    "S M M M A"
    "S M M M A"
    "S M M M A"
    "S M M M A"
    "F F F F F";
  grid-gap: 10px;
}

@media screen and (max-width: 426px) {
  .grid {
    grid-template-areas:
      "H"
      "N"
      "A"
      "M"
      "M"
      "M"
      "M"
      "M"
      "M"
      "M"
      "S"
      "F";
    grid-auto-rows: minmax(
      60px,
      auto
    ); /*определяет размер любых автоматически созданных треков. Minmax определяет
       диапазон размеров, который больше или равен min и меньше или равен max.*/
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .grid {
    grid-template-areas:
      "H H H H H"
      "N N N N N"
      "A M M M M"
      "A M M M M"
      "A M M M M"
      "A M M M M"
      "A M M M M"
      "A M M M M"
      "A M M M M"
      "S F F F F";
    grid-template-columns: repeat(
      auto-fit,
      minmax(60px, auto)
    ); /*если есть только одна строка и есть место для дополнительных колонок,
      но нет элементов, которые можно вставить эти колонки, то тогда он сделает ширину пустых колонок равную нулю. А если выставить
      максимальную ширину колонок на 1fr, то браузер разделит оставшееся место поровну между ними.*/
    grid-auto-rows: minmax(60px, auto); /*размер неявно заданных строк*/
  }
}

/* Меню */

.header {
  /*Шапка*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50px; /*Чтобы шапка покрывала весь контент*/
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*На весь размер шапки*/
  height: 100%;
  background-color: burlywood;
  z-index: 2;
}

.header__body {
  /*Контентная часть шапки*/
  position: relative;
  display: flex;
  justify-content: space-between; /*Чтобы раскидать flex-элементы по сторонам*/
  height: 35px; /*высота шапки*/
  align-items: center; /*контент в середине бокса*/
}
.header__logo {
  /*картинка*/
  flex: 0 0 60px; /*размер, под который подстроится любая картинка*/
  border-radius: 50%;
  overflow: hidden; /*контент обрезается без предоставления прокрутки*/
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%; /*чтобы любая картинка подстроилась под текущий размер*/
  display: block;
}
.header__burger {
  /*бургер меню скрыто для всех разрешений больше 767px*/
  display: none;
}
.header__list {
  /*отображение меню*/
  display: flex; /*горизонтально*/
  position: relative;
  z-index: 2;
}
.header__list ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__list li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.header__list li:hover ul {
  display: block;
}
.header__list ul li {
  float: none;
}
.header__list li:hover {
  background-color: #f90;
}
.header__list ul li:hover {
  background-color: #666;
}

.header__list li {
  list-style: none; /*убирает точки*/
  margin: 0px 0px 0px 20px; /*отступы между позициями меню*/
}
.header__link {
  /*ссылки в меню*/
  color: blueviolet;
  font-size: 18px;
  text-decoration: none; /*убираетподчеркивание ссылок*/
}
@media (max-width: 767px) {
  body.lock {
    /*прокрутка контента во время просмотра меню выключается*/
    overflow: hidden;
  }
  .header__body {
    /*изменение высоты шапки*/
    height: 50px;
  }
  .header__logo {
    /*изменение размера лого*/
    flex: 0 0 40px;
  }
  .header__burger {
    /*блок бургер меню*/
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: blueviolet;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s; /*плавность исчезновения средней бургер-полоски*/
  }
  .header__burger:before,
  .header__burger:after {
    /*отрисовка самого бургера*/
    content: "";
    background-color: blueviolet;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    /*верхняя полоса*/
    top: 0;
  }
  .header__burger:after {
    /*нижняя полоса*/
    bottom: 0;
  }
  .header__burger.active span {
    /* одна бургер-полоска исчезает */
    transform: scale(0);
  }
  .header__burger.active:before {
    /* при классе active делаем из бургера крестик */
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    /* при классе active делаем из бургера крестик */
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    /*изменение элементов меню*/
    position: fixed;
    top: -100%; /*чтобы изначально меню съезжало сверху*/
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*для возможностти проскроллить меню, если оно полностью не влазит в экран*/
    transition: all 0.3s ease 0s; /*замедление анимации выезда меню сверху*/
    background-color: rgb(173, 187, 190);
    padding: 70px 10px 20px 10px; /*сдвиг элементов меню под шапку + отступы*/
  }
  .header__menu.active {
    /* меню становится видно */
    top: 0;
  }
  .header__list {
    display: block; /*для мобильных список меню становится вертикальным*/
  }
  .header__list li {
    /* отступы вниз */
    margin: 0px 0px 20px 0px;
  }
}
/* Расстояние между параграфами */
p{
  margin-bottom: 1em;
}

/* Изображения */

.leftimg {
  float: left; /* Выравнивание по правому краю */
  border: 1px solid #333; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 5px; /* Отступы вокруг */
  background: #f0f0f0;
  text-align: center;
  text-indent: 0;
}

.rightimg {
  float: right; /* Выравнивание по правому краю */
  border: 1px solid #333; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 5px; /* Отступы вокруг */
  background: #f0f0f0;
  text-align: center;
  text-indent: 0;
}

/* Список фактов */
.list_in_main{
  padding-left: 1em;
}

/* Колонка новостей на главной странице */
.s aside {
  position: relative;
  padding: 10px;
  margin: 10px;
  width: 200px;
  float: right;
}
.s aside li {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Кнопка наверх */
#topbutton {
  width: 100px;
  border: 2px solid #ccc;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  position: sticky; /* Элемент рассматривается как относительно
  позиционированный, пока сдерживающий его блок не пересечёт указанный
  порог в контейнере, в котором он прокручивается после чего он
  обрабатывается как «застрявший» до тех пор, пока не встретит
  противоположный край содержащего его блока*/
  top: 10px;
  cursor: pointer;
  color: #333;
  font-family: verdana;
  font-size: 12px;
  border-radius: 5px;
}

/* Подписи к картинкам */
.subheader {
  margin: 1em;
  font-size: small;
  color: gray;
}

/* Текст */
article {
  text-align: justify; /* Выравнивание по ширине*/
  text-indent: 30px;
  margin: 20px;
}




/* ///////////////////////////////////////////////////////// Старый файл style.css /////////////////////////////////////////////////////////////*/

/* Шрифт */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}

/* Заголовок */
header {
  background-color: #f0f0f0;
  text-align: center;
}
h1 {
  text-align: center;
  color: #999acc;
}
h2{
  margin-left: 30px;
  color: rgb(173, 44, 44);
}
h3{
  color: rgb(236, 58, 58);
}


/* Меню */
.header {
  width: 100%;
  z-index: 50;
}
.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}
.header__inner {
  width: 100%;
}
#navbar ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li:hover ul {
  display: block;
}
#navbar {
  /* overflow: visible;
  position: fixed;
  top: 0; */
  height: 30px;
  background-color: rgb(173, 44, 44);
  padding-left: 25px;
  min-width: 470px; /*Если окно браузера по ширине становится меньше min-width элемента, то ширина элемента остается неизменной, в окне появляется горизонтальная полоса прокрутки. */
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li {
  float: none;
}
#navbar li:hover {
  background-color: #f90;
}
#navbar ul li:hover {
  background-color: #666;
}

/* Кнопка наверх */
#topbutton {
  width: 100px;
  border: 2px solid #ccc;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  position: sticky; /* Элемент рассматривается как относительно
  позиционированный, пока сдерживающий его блок не пересечёт указанный
  порог в контейнере, в котором он прокручивается после чего он
  обрабатывается как «застрявший» до тех пор, пока не встретит
  противоположный край содержащего его блока*/
  top: 50px;
  cursor: pointer;
  color: #333;
  font-family: verdana;
  font-size: 12px;
  border-radius: 5px;
}

/* Текст */
.main {
  text-align: left;
  margin: 0 auto;
  min-height: 100%;
  width: 960px;
}
article {
  text-align: justify; /* Выравнивание по ширине*/
  text-indent: 30px;
  margin: 20px;
}

/* Таблица */
table {
  border: 1px solid grey;
}
/* границы ячеек первого ряда таблицы */
th {
  border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
  border: 1px solid grey;
}
/* section{
  margin-top: 10em;
  margin-bottom: 10em;
  border-top: 2px solid black;

} */

aside {
  position: relative;
  background: #f0f0f0;
  padding: 10px;
  margin: 10px;
  width: 200px;
  float: right;
}
aside li {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Форма */
.contact-form ul{
  list-style-type: none;
}

/* Изображения */

.leftimg {
  /* float:left; 
  margin: 7px 7px 7px 0; 
  border: 2px solid black;
  padding: 3px;
  font-size: smaller; */
  float: left; /* Выравнивание по правому краю */
  border: 1px solid #333; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 5px; /* Отступы вокруг */
  background: #f0f0f0;
  text-align: center;
  text-indent: 0;
}

.rightimg {
  /* float:right;  */
  /* Выравнивание по левому краю */
  /* margin: 7px 0 7px 7px;  */
  /* Отступы вокруг картинки */
  /* border: 2px solid black;
  padding: 3px; */
  float: right; /* Выравнивание по правому краю */
  border: 1px solid #333; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 5px; /* Отступы вокруг */
  background: #f0f0f0;
  text-align: center;
  text-indent: 0;
}

.nascar_img{ 
  margin: 10px auto;
  width: 200px;
  border: 2px solid red;
  border-radius: 5px;
}

/* Очищающий блок для подвала*/
.clear {
  clear: both;
  height: 0px;
}
/* Блок-подложка для подвала */
#substrate-footer {
  height: 200px;
  margin: 20px 0 0;
}
/* Нижний колонтитул */
footer {
  width: 100%;
  display: block;
  justify-content: center;
  background-color: #5d5f61;
  color: #fff;
  text-align: center;
}

#downnavbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#downnavbar li {
  display: inline;
}
#downnavbar li a {
  color: #fff;
  padding: 6px;
  width: 100px;
  text-decoration: none;
  text-align: center;
}

/* Новости */
.grid{
  display: grid;

}
#news1, #news2, #news3, #news4, #news5{
  display: grid;
  text-align: justify;
  width: 35%;
  padding: 2%;
  background-color: rgb(255, 251, 245);
  border: 1px solid gray;
  border-radius: 2em;
}
/* Подписи к картинкам */
.subheader{ 
  margin: 1em;
  font-size: small;
   color: gray;
}

/* Социальные сети */
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
.social-icons > li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.social-icons a {
  position: relative;
  background-color: #eee;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
}
.social-icons a:hover {
  background-color: #e0e0e0;
}
.social-icons a::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0.65rem;
  top: 0.65rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.social-icons .social-icon-vk::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
}
.social-icons .social-icon-telegram::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
}
